.tetromino {
  font-size: 10px;
  // border: rgb(227, 227, 227) 0.5px solid;
  align-items: center;
  justify-content: center;
}

@each $type, $color in $tetromino-colors {
  .#{$type}-block {
    background-color: $color;
    border: 1px $color;
    border-style: outset;
  }
}
