@import '../../styles/mixins';

.leader-board {
  @include flex-column;
  justify-content: space-around;
  align-items: center;
  aspect-ratio: 2/3;
  border: black solid 1px;
}

.scorecard-wrapper {
  width: 100%;
  height: fit-content;
}

.scorecard {
  @include flex-row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: clamp(30px, 10vh, 60px);
  border: red solid 1px;
}
