@use 'sass:map';
@import '../../../styles/mixins';
@import '../../../styles/variables';

$green: map.get($tetromino-colors, 's');
$pink: map.get($tetromino-colors, 'z');

$medal-colors: (
  gold-medal: #e3c322,
  silver-medal: #999998,
  bronze-medal: #b99314,
);

.leader-board {
  @include flex-column;
  height: clamp(600px, 90%, 900px);
  justify-content: flex-start;
  align-items: center;
  aspect-ratio: 2/3;
  border: 4px solid black;
  padding: 5px;

  h2 {
    width: 100%;
    background-color: $green;
    color: white;
    font-size: 50px;
    text-align: center;
  }
}

.scorecard-wrapper {
  width: 100%;
  height: calc(fit-content + 20px);
  display: flex;
  @include flex-column;
  gap: 5px;

  @each $medal, $color in $medal-colors {
    .#{$medal} {
      background-color: $color;
      color: white;
    }
  }
}

.scorecard {
  @include flex-row;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: clamp(25px, 6.5vh, 60px);
  color: $pink;
  font-size: 30px;

  :nth-child(2) {
    font-size: 50px;
  }
}

@media screen and (max-width: 700px) {
  .leader-board {
    display: none;
  }
}
