.App {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80vw;
}

.score-board {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 200px;
  height: fit-content;
  font-size: 50px;
}


* {
  overflow: hidden;
}