.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;

  button {
    border: 0px;
    padding: 15px;
    font-size: 15px;

    &:hover {
      background-color: darkgrey;
    }
  }
}
