@use 'sass:map';

@import 'variables';

$purple: map.get($tetromino-colors, 't');

.button-container {
  @include flex-row;
  width: 100%;
  justify-content: space-around;
  margin: 10px;

  button {
    border: 0px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Jersey 10', sans-serif;
    color: white;
    background-color: $purple;

    &:hover {
      background-color: lighten(
        $color: $purple,
        $amount: 10
      );
    }
  }
}
