.button-container {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;

  button {
    border: 0px;
    height: 10%;

    &:hover {
      background-color: darkgrey;
    }
  }

  .arrow-button-container{
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .arrow-button {
    height: 30px;
    width: 30px;

  }
}

