@import 'variables';
@import 'mixins';

$wrapper-height: 80vh;
$grid-height: var(--grid-height);
$grid-width: var(--grid-width);

.grid-wrapper {
  aspect-ratio: $grid-width / $grid-height;
  border: 1px black solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat($grid-width, 1fr);
  grid-template-rows: repeat($grid-height, 1fr);
  height: 100%;
  width: 100%;

  span {
    @include flex-row;
    height: calc($wrapper-height / $grid-height);
    aspect-ratio: 1/1;
    font-size: 10px;
    border: rgb(227, 227, 227) 0.5px solid;
    align-items: center;
    justify-content: center;
  }

  @each $type, $color in $tetromino-colors {
    .#{$type}-block {
      background-color: $color;
      border: 0.5px solid $color;
    }
  }
}
