@import 'variables';

.grid {
  display: grid;
  grid-template-columns: repeat(var(--pixel-width), 1fr);
  grid-template-rows: repeat(var(--pixel-height), 1fr);
  height: fit-content;
  min-width: fit-content;
  border: 1px black solid;

  span {
    height: 25px;
    width: 25px;
    font-size: 10px;
    border: rgb(227, 227, 227) 0.5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @each $type, $color in $tetromino-colors {
    .#{$type}-block {
      background-color: $color;
      border: 0.5px solid $color;
    }
  }
}
