@use 'sass:map';
@import 'variables';
@import 'mixins';

$pink: map.get($tetromino-colors, 'z');
$green: map.get($tetromino-colors, 's');
$blue: map.get($tetromino-colors, 'j');

$color-list: map-values($tetromino-colors);

@for $i from 1 through length($color-list) {
  $color: nth($color-list, $i);
  h1 span:nth-child(#{$i}) {
    background-color: $color;
    border: 0.5px solid $color;
  }
}

.info-wrapper {
  @include flex-column;
  width: 50%;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: 'Bytesized', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    margin: 0px;
    color: white;

    span {
      padding: 8px;
    }
  }

  .link-wrapper {
    @include flex-row;
    justify-content: space-evenly;
    gap: 10;
    width: 100%;

    svg {
      height: 50px;
      width: 60px;
      background-color: white;
    }

    svg:nth-child(1) {
      color: $green;
    }

    svg:nth-child(2) {
      color: $blue;
    }

    a,
    a:visited {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: grey;
    }
  }

  p {
    font-family: 'Jersey 10', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
  }

  button {
    font-family: 'Jersey 10', sans-serif;
    width: 100%;
    height: 60px;
    background-color: $pink;
    border: none;
    color: white;
    font-size: 40px;
  }

  button:hover {
    background-color: rgb(233, 146, 212);
  }
}
