@use 'sass:map';
@import '../../styles/mixins';
@import '../../styles/variables';

.top-display {
  @include flex-column;
  justify-content: flex-start;
  height: 170px;
  width: 100%;
  font-family: 'Jersey 10', sans-serif;
  margin: 5px 0px;
  gap: clamp(5px, 1vh, 10px);

  .top-display-bottom-wrapper {
    @include flex-row;
    width: 100%;
    justify-content: space-between;
    height: clamp(95px, fit-content 130px);
  }
}

.line-count-wrapper,
.score-board-wrapper {
  @include flex-column;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100%;

  > * {
    @include flex-column;
    justify-content: center;
    align-items: center;
  }

  :nth-child(1) {
    font-size: clamp(15px, 3vh, 20px);
  }
  :nth-child(2) {
    font-size: clamp(50px, 7vh, 60px);
  }
}

.line-count-wrapper {
  background-color: map.get($tetromino-colors, 'l');
  width: 40%;
}

.score-board-wrapper {
  width: 100%;
  background-color: map.get($tetromino-colors, 'j');
}
