@use 'sass:map';
@import '../../styles/mixins';
@import '../../styles/variables';

.top-display {
  @include flex-column;
  justify-content: space-around;
  height: 200px;
  width: 100%;
  font-family: 'Jersey 10', sans-serif;
  margin: 5px 0px;
  gap: 10px;

  .top-display-bottom-wrapper {
    @include flex-row;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    gap: 10px;
  }
}

.line-count-wrapper,
.score-board-wrapper {
  @include flex-column;
  color: white;
  justify-content: center;
  align-items: center;
  :nth-child(1) {
    font-size: 20px;
  }
  :nth-child(2) {
    font-size: 60px;
  }
}

.line-count-wrapper {
  background-color: map.get($tetromino-colors, 'l');
  width: 40%;
}

.score-board-wrapper {
  width: 100%;
  background-color: map.get($tetromino-colors, 'j');
}
