@import '../styles/variables';
@import '../styles/mixins';

.grid-wrapper {
  container-type: size;
  display: grid;
  place-items: center;
  border: 1px solid #000;
}

.grid {
  --cell-size: min(
    calc(100cqw / var(--grid-width)),
    calc(100cqh / var(--grid-height))
  );

  display: grid;
  grid-template-columns: repeat(
    var(--grid-width),
    var(--cell-size)
  );
  grid-template-rows: repeat(
    var(--grid-height),
    var(--cell-size)
  );

  inline-size: calc(var(--cell-size) * var(--grid-width));
  block-size: calc(var(--cell-size) * var(--grid-height));

  span {
    @include flex-row;
    inline-size: 100%;
    block-size: 100%;
  }
}
