@import '../styles/variables';
@import '../styles/mixins';

$wrapper-height: clamp(300px, 80vh, 600px);

$grid-height: var(--grid-height);
$grid-width: var(--grid-width);

.grid-wrapper {
  aspect-ratio: $grid-width / $grid-height;
  border: 1px black solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat($grid-width, 1fr);
  grid-template-rows: repeat($grid-height, 1fr);
  height: 100%;
  width: 100%;

  span {
    @include flex-row;
    height: calc($wrapper-height / $grid-height);
    aspect-ratio: 1/1;
  }
}
