@import '../styles/variables';
@import '../styles/mixins';

.grid-wrapper {
  container-type: size;
  display: grid;
  place-items: center;
  width: fit-content;
  height: fit-content;
}

.grid {
  display: grid;
  --cell-size: min(
    calc(100cqw / var(--grid-width)),
    calc(100cqh / var(--grid-height))
  );

  grid-template-columns: repeat(
    var(--grid-width),
    var(--cell-size)
  );
  grid-template-rows: repeat(
    var(--grid-height),
    var(--cell-size)
  );

  inline-size: calc(var(--cell-size) * var(--grid-width));
  block-size: calc(var(--cell-size) * var(--grid-height));
}
