@import '../styles/variables';
@import '../styles/mixins';

.grid-wrapper {
  container-type: size;
  display: grid;
  place-items: center;
  aspect-ratio: calc(
    var(--grid-width) / var(--grid-height)
  );
}

.grid {
  display: grid;

  --cell-size: min(
    calc(100cqw / var(--grid-width)),
    calc(100cqh / var(--grid-height))
  );

  grid-template-columns: repeat(
    var(--grid-width),
    var(--cell-size)
  );
  grid-template-rows: repeat(
    var(--grid-height),
    var(--cell-size)
  );

  span {
    grid-row: span 1;
    grid-column: span 1;
  }
}
