.modal {
  height: 100px;
  width: 200px;
  border: red solid 1px;
}

.new-game-button {
  font-family: 'Jersey 10', sans-serif;
  width: 100%;
  height: 60px;
  background-color: $pink;
  border: none;
  color: white;
  font-size: 40px;
}

button:hover {
  background-color: rgb(233, 146, 212);
}
