@import '../../styles/mixins';

#modal {
  @include flex-column;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  width: 100%;
  font-family: 'Jersey 10', sans-serif;
  font-size: 30px;
  margin: 0px;

  h2 {
    margin: 0px;
    font-size: 84px;
    height: 95px;
  }
}

.new-game-button {
  font-family: 'Jersey 10', sans-serif;
  width: 100%;
  height: 60px;
  background-color: $pink;
  border: none;
  color: white;
  font-size: 40px;
}

button:hover {
  background-color: rgb(233, 146, 212);
}
