@use 'sass:map';
@import '../../styles/variables';
@import '../../styles/mixins';

$pink: map.get($tetromino-colors, 'z');
$green: map.get($tetromino-colors, 's');
$blue: map.get($tetromino-colors, 'j');

$color-list: map-values($tetromino-colors);

@for $i from 1 through length($color-list) {
  $color: nth($color-list, $i);
  h1 span:nth-child(#{$i}) {
    background-color: $color;
    color: white;
  }
}

header {
  @include flex-row;
  height: 65px;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  position: -webkit-sticky;
}

h1 {
  font-family: 'Bytesized', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  margin: 0px;
  color: white;
  margin-left: 20px;
}

.nav {
  width: fit-content;
}
