@import '../../styles/mixins';

.modal-wrapper {
  @include flex-column;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  font-size: 30px;

  span:nth-of-type(1) {
    text-decoration-line: underline;
    text-decoration-color: $pink;
    margin: 0px;
    font-size: 84px;
    height: fit-content;
  }

  .modal-error {
    height: 30px;
    color: red;
    margin-bottom: 5px;
    font-size: 24px;
  }

  a {
    font-size: 16px;
  }
}

.modal-button {
  width: 100%;
  height: 60px;
  background-color: $pink;
  border: none;
  color: white;
  font-size: 40px;

  &:hover {
    background-color: lighten($color: $pink, $amount: 10);
  }
}

.log-in-form {
  @extend .modal-wrapper;

  .form-input {
    font-size: 25px;
    height: 40px;
    text-align: center;
  }
}

.register-form {
  @extend .log-in-form;
  .form-input:nth-last-of-type(1) {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.modal-wrapper.game-over {
  :nth-child(-n + 3) {
    height: 10%;
  }

  h2 {
    font-size: 60px;
  }
}
