@import '../../styles/mixins';
@import './NextTetromino/next-tetromino';
@import './TopDisplay/top-display';

main {
  @include flex-row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}

.gameboard-wrapper {
  @include flex-column;
  justify-content: space-between;
  align-items: center;
  height: clamp(600px, 90%, 900px);

  aspect-ratio: 1/3;
  border: 4px solid black;
  background: #fff;
}

#gameboard {
  width: 100%;
  aspect-ratio: 1/2;
  border: 1px solid red;
}
