@import '../../styles/mixins';

.gameboard-wrapper {
  @include flex-column;
  height: fit-content;
  width: fit-content;
  background-color: black;
  border: 5px solid black;
}

#gameboard {
  height: clamp(400px, 60vh, 600px);
  aspect-ratio: 1/2;
  border: white solid 1px;
}

main {
  @include flex-row;
  justify-content: space-evenly;
  width: 80vw;

  :focus {
    outline: none;
  }
}
