@import '../../styles/mixins';
@import './NextTetromino/next-tetromino';
@import './TopDisplay/top-display';

main {
  @include flex-row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gameboard-wrapper {
  @include flex-column;
  height: clamp(300px, fit-content, 800px);
  width: auto;
  border: 4px solid black;
  background: #fff;
}

#gameboard {
  aspect-ratio: 1/2;
  border: 1px solid red;
}
