@import '../../styles/mixins';
@import './NextTetromino/next-tetromino';
@import './TopDisplay/top-display';

.gameboard-wrapper {
  @include flex-column;
  height: clamp(300px, 80vh, 800px);
  width: fit-content;
  border: 4px solid black;
  background-color: white;
}

#gameboard {
  height: clamp(400px, 100%, 600px);
  aspect-ratio: 1/2;
  border: white solid 1px;
}

main {
  @include flex-row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
