@import './grid/grid';
@import './components/Play/GameBoard/Info/info';
@import './components/Play/GameBoard//Tetromino/tetromino';
@import './components/Play/GameBoard/game-board';
@import './components//Header/header';
@import './components/SideArt/side-art';
@import './components/LogInView/modal';
@import './styles/mixins';
@import './components/Play/LeaderBoard/leader-board';
@import './components/Play/LeaderBoard/leader-board';
@import './components/About/about';
@import './components/Loading/loading';

* {
  font-family: 'Jersey 10', sans-serif;

  overflow: hidden;
  :focus {
    outline: none;
  }
}

body {
  margin: 0px;
  background-color: white;
}

.App {
  @include flex-column;
  justify-content: flex-start;
  align-items: space-evenly;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

h2 {
  margin: 0px;
}

a,
button {
  &:hover {
    cursor: pointer;
  }
}
