@import './grid/grid';
@import './components/ControlPanel/button';
@import './components/Info/info';
@import './components/Tetromino/tetromino';
@import './components/GameBoard/game-board';
@import './components//Header/header';
@import './components/SideArt/side-art';
@import './components/Modal/modal';
@import './styles/mixins';
@import './components/LeaderBoard/leader-board';
@import './components/LeaderBoard/leader-board';

* {
  overflow: hidden;
  :focus {
    outline: none;
  }
  font-family: 'Jersey 10', sans-serif;
}

body {
  margin: 0px;
  background-color: white;
}

.App {
  height: 100vh;
  width: 100vw;
  @include flex-column;
  justify-content: center;
  align-items: space-evenly;
  overflow: hidden;
  background-color: white;
}

h2 {
  margin: 0px;
}
