@import './grid/grid';
@import './components/ControlPanel/button';
@import './components/Info/info';
@import './components/Tetromino/tetromino';
@import './components/GameBoard/game-board';
@import './components/NextTetromino/next-tetromino';
@import './components/TopDisplay/top-display';
@import './components//Header/header';
@import './components/SideArt/side-art';
@import './components/Modal/modal';
@import './styles/mixins';

* {
  overflow: hidden;
}
body {
  margin: 0px;
}

.App {
  height: 100vh;
  width: 100vw;
  @include flex-column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

main {
  @include flex-row;
  justify-content: space-evenly;
  width: 80vw;
}
